<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-title" content="{{appTitle}}">

  <title>{{pageTitle}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  {{#if description}}
    <meta name="description" content="{{description}}">
  {{/if}}

  {{addCSS "/css/main.css" prepend=true}}

  {{#css}}
    <link rel="stylesheet" href="{{{url}}}">
  {{/css}}

  {{#if pictos}}
    <link rel="stylesheet" href="//get.pictos.cc/fonts/{{pictos}}">
  {{/if}}

  <script src="https://use.typekit.net/eix2gnv.js"></script>
  <script>try{Typekit.load({ async: false });}catch(e){}</script>
</head>

<body class="{{#if invitation}}is-invited{{/if}}">

<!-- {{> nav}} -->

{{{body}}}

<script src="//yui.yahooapis.com/{{yui_version}}/build/yui/yui{{min}}.js"></script>
<script>
{{{state}}}
YUI().use('{{yui_module}}');
</script>

</body>
</html>
