{{setPageTitle "RSVP"}}
{{setActiveNav "rsvp"}}
{{addCSS "/css/rsvp.css"}}

<div class="centered">
  <p class="large-centered-text">
    Hold tight. We will send out an email with directions on how to RSVP.
  </p>
  {{!--
  <p class="large-centered-text">
    To respond to your invitation to our wedding, you’ll need to follow the special link which was emailed to you.
  </p>

  <p class="secondary">Can&rsquo;t find the email? We can send you another one:</p>

  {{#resent}}
  <p class="warning">
    {{#if needsEmail}}
    Please enter your email address.
    {{/if}}

    {{#if notGuest}}
    We do not have your email address (<b>{{notGuest}}</b>). Please email us and we’ll send your special RSVP link: <b><a href="mailto:rsvp@savannah-konstantin.com">rsvp@savannah-konstantin.com</a></b>
    {{/if}}

    {{#if sent}}
    Your special RSVP link has been sent to: <b>{{sent}}</b>
    {{/if}}
  </p>
  {{/resent}}

  <form class="resend l-grid" action="/rsvp/" method="POST">
    <input type="hidden" name="_csrf" value="{{_csrf}}">
    <input type="email" required="true" name="email" placeholder="Your Email">
    <button type="submit">Resend RSVP Link</button>
  </form>
  --}}
</div>
