{{setPageTitle "Wedding"}}
{{setActiveNav "wedding"}}
{{setYUIModule "le-wedding"}}
{{setDescription "The details of Leslie Verploegen’s & Eric Ferraiuolo’s wedding."}}
{{addCSS "/css/wedding.css"}}

<h2 class="centered_text">Itinerary coming soon</h2>
